<h3>Code Generator</h3>

<p>You can add a new reservation here, you will receive a code to pass on to that person.</p>

<input type="text" [(ngModel)]="email" placeholder="Invitee's email">
<button class="btn btn-primary" [disabled]="isReserving" (click)="makeReservation(email);">Generate a code</button>

<hr>

<h3>My reservations</h3>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Code</th>
      <th>Reserved for</th>
      <th>Registered</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of results">
      <td>{{row.code}}</td>
      <td>{{row.reservedFor}}</td>
      <td>{{row.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
