<video autoplay loop muted id="bgvid">
  <source src="assets/smoke.mp4" type="video/mp4">
</video>

<div class="content flex-center" style="position: relative">

  <ng-container *ngIf="error">
    <span class="error-message">Code was invalid or already taken</span>
  </ng-container>

  <ng-container *ngIf="!isChecking && !isSubmitted">
    <ng-container *ngIf="!code">
      <p>What's your code?</p>

      <input *ngIf="!isChecking" type="code" [(ngModel)]="codeInput" (ngModelChange)="codeChanged($event)" placeholder="" />
      <ng-container *ngIf="isChecking">
        Checking...
      </ng-container>
    </ng-container>

    <ng-container *ngIf="code">
      <img src="./assets/brosklasse.png" alt="">

      <p>You interested?</p>

      <input type="email" [(ngModel)]="email" placeholder="Give us your e-mail" />

      <button [disabled]="isSubmitting" (click)="decline()">No, thanks</button>
      <button [disabled]="isSubmitting" (click)="submit()">Awesome!</button>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="isSubmitted">
    <span>Don't call us, we'll call you!</span>
  </ng-container>
</div>
