h1 {
  font-size: 4rem;
  margin-bottom: 50px;
}

input {
  border: none;
  border: 0;
  border-bottom: 1px solid white;
  background: transparent;

}

input, button {
  margin: 15px;
  padding: 5px;
}
